{% extends "planner/groups.html" %}
{% block content %}
    <article class="media content-section">
        <table>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Отчество</th>
                <th scope="col">ID</th>
                <th scope="col">Дата рождения</th>
            </tr>
            {% for record in child_records %}
                <tr>
                    <td>{{ record.first_name }}</td>
                    <td>{{ record.last_name }}</td>
                    <td>{{ record.patronymic }}</td>
                    <td>{{ record.id_parent }}</td>
                    <td>{{ record.birthdate }}</td>
                </tr>
            {% endfor %}
        </table>
    </article>
{% endblock content %}